@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Playfair:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: url(./img/background-contact.jpg);
  height: 100%;
}

.titulo {
  display: flex;
  justify-content: center;
  background-color: #e7af15;
  height: 130px;
  gap: 20px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  color: white;
}

.titulo img {
  border-radius: 100px;
}
.logo {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Angulo de rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Angulo de rotación final */
  }
}

#buscador {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#buscador input {
  border-radius: 70px;
  text-align: center;
  font-size: 20px;
}

#contador {
  border: 3px solid black;
  padding: 5px;
}

#contador:hover {
  background-color: #ffb300;
}

.searchButton {
  padding: 5px;
  border: 3px solid black;
  cursor: pointer;
  background-color: #ffb300;
  transition: 0.2s;
  margin-left: 10px;
  border-radius: 70px;
  width: 80px;
  font-size: 20px;
}

.searchButton:hover {
  padding: 7px;
  transition: 0.2s;
}

.pizzaCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  border: 3px solid crimson;
}

.pizzaCard h2 {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}


.pizzaCard p {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}


.pizzaCard img {
  width: 30%;
  height: 30%;
  box-shadow: 0px 0px 10px 5px rgba(152, 98, 4, 0.7);
  border-radius: 100px;
}

.error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.error-content p {
  margin-top: 100px;
  font-size: 20px;
}

.error-content img {
  width: 150px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
  #buscador {
    margin-top: 10px;
  }
  .pizzaCard {
    margin-left: 15%;
    margin-right: 15%;
  }
  .pizzaCard h2 {
    margin-bottom: 20px;
  }
  .pizzaCard img {
    width: 220px;
    height: 220px;
  }

  .error-content img {
    width: 100%;
  }
  .titulo img {
    border-radius: 100%;
    width: 25%;
  }
}
